@media (max-width: 340px) {
    body {
        overflow-x: visible;
    }
    .width {
        width: 100%;
    }

    .nextSection {
        width: 80px;
        height: 40px;
        line-height: 3.8;
     }

     #icons-perma {
         bottom: 2%;
     }
     .dotstyle ul {
         display: none;
     }
     .nav_but {
         display: none;
     }
     #map {
         top: 400px;
         left :2%;
         /* right: 2%; */
         width: 96%;
         height: 50vh;
         background-color: grey;
     }

     #loc_info {
         position: absolute;
         top: 8%;
         left:6%;
         text-align: center;
     }
     .big {
         font-size: 50px;
         margin-bottom: 20px;
     }
     .loc_text  {
         text-align: left;
         /* font-size: 17px; */
         padding: 5px 0px 10px 55px;
     }
     #loc_info h3 {
         font-size: 20px;
     }

     #col2 {
         display: none;
     }
     #con_info div div h3 {
         font-size: 20px;
     }

     #con_info div div h3 i{
         margin-left: 4%;
     }
     #con_info div div h3 .fa-facebook-f {
         margin-left: 7%;
     }
     .shift {
         margin-left: 5%;
         font-size: 20px;
     }
}


@media (max-width: 400px) and (min-width: 341px) {
    body {
        overflow-x: visible;
    }
    .width {
        width: 100%;
    }

    .nextSection {
        width: 80px;
        height: 40px;
        line-height: 3.8;
     }

     #icons-perma {
         bottom: 2%;
     }
     .dotstyle ul {
         display: none;
     }
     .nav_but {
         display: none;
     }
     #map {
         top: 400px;
         left :2%;
         /* right: 2%; */
         width: 96%;
         height: 50vh;
         background-color: grey;
     }

     #loc_info {
         position: absolute;
         top: 8%;
         left:6%;
         text-align: center;
     }
     .big {
         font-size: 50px;
         margin-bottom: 20px;
     }
     .loc_text  {
         text-align: left;
         /* font-size: 17px; */
         padding: 5px 0px 10px 55px;
     }
     #loc_info h3 {
         font-size: 20px;
     }

     #col2 {
         display: none;
     }
     #con_info div div h3 {
         font-size: 25px;
     }

     #con_info div div h3 i{
         margin-left: 15%;
     }
     #con_info div div h3 .fa-facebook-f {
         margin-left: 17%;
     }
     .shift {
         margin-left: 8%;
     }
}

@media (max-width: 600px)  and (min-width:401px)  {
    body {
        overflow-x: visible;
    }
    .width {
        width: 100%;
    }

    .nextSection {
        width: 80px;
        height: 40px;
        line-height: 3.8;
     }

     #icons-perma {
         bottom: 2%;
     }
     .dotstyle ul {
         display: none;
     }
     .nav_but {
         display: none;
     }
     #map {
         top: 400px;
         left :2%;
         /* right: 2%; */
         width: 96%;
         height: 50vh;
         background-color: grey;
     }

     #loc_info {
         position: absolute;
         top: 8%;
         left: 17%;
         text-align: center;
     }
     .big {
         font-size: 60px;
         margin-bottom: 20px;
     }
     .loc_text  {
         text-align: left;
         /* font-size: 17px; */
         padding: 5px 0px 10px 55px;
     }
     #loc_info h3 {
         font-size: 20px;
     }

     #col2 {
         display: none;
     }
     #con_info div div h3 i{
         margin-left: 19%;
     }
     #con_info div div h3 .fa-facebook-f {
         margin-left: 21%;
     }
     .shift {
         margin-left: 8%;
     }
}
@media (max-width: 750px) and (min-width:601px) {
    .width {
        width: 70%;
    }
    #icons-perma {
        bottom: 2%;
    }

    .dotstyle ul {
        display: none;
    }
    .nav_but {
        display: none;
    }
    #map {
        top: 400px;
        left :2%;
        width: 96%;
        height: 50vh;
    }
    #loc_info {
        position: absolute;
        top: 8%;
        left: 30%;
        text-align: center;
    }
    .big {
        font-size: 60px;
        margin-bottom: 20px;
    }
    .loc_text  {
        text-align: left;
        padding: 5px 0px 10px 55px;
    }
    #loc_info h3 {
        font-size: 20px;
    }
    #col2 {
        display: none;
    }
    #con_info div div h3 i{
        margin-left: 23%;
    }
    #con_info div div h3 .fa-facebook-f {
        margin-left: 25%;
    }
    .shift {
        margin-left: 8%;
    }
}
@media (max-width: 900px) and (min-width:751px) {
    .width {
        width: 50%;
    }
    .dotstyle ul {
        display: none;
    }
    #map {
        top: 400px;
        left :1%;
        width: 98%;
        height: 53vh;
    }

    #loc_info {
        position: absolute;
        top: 7%;
        left: 30%;
        text-align: center;
    }
    .big {
        font-size: 60px;
        margin-bottom: 30px;
    }
    .loc_text  {
        text-align: left;
        padding: 5px 0px 10px 55px;
    }
    #loc_info h3 {
        font-size: 20px;
    }
    #col2 {
        display: none;
    }
    #con_info div div h3 i{
        margin-left: 31%;
    }
    #con_info div div h3 .fa-facebook-f {
        margin-left: 33%;
    }
    .shift {
        margin-left: 8%;
    }
}
@media (max-width: 1300px) and (min-width:901px) {
    .width {
        width: 40%;
    }
    .dotstyle ul {
        display: none;
    }
    #map {
        right: 2%;
        height: 80vh;
        width: 55vw;
    }
    .bg {
        font-size: 20px;

    }
    #loc_info {
        position: absolute;
        top: 35%;
        left: 3%;

    }
    #con_info {
        max-width: 900px;
    }

}
@media (max-width: 1500px) and (min-width:1301px) {
    .width {
        width: 30%;
    }

}

@media (max-height: 600px){
    #map {
        height: 26vh;
    }
    #con_info {
        padding-top: 10vh;

    }
    #contact_us {
        height: 95vh;
    }
    #madeBy {
        padding: 0vh;
        height: 5vh;
    }
}

@media (max-height: 700px) and (min-height: 601px){
    #map {
        height: 33vh;
    }
    #con_info {
        padding-top: 10vh;
    }
    #madeBy {
        padding: 0vh;
    }
}

@media (max-height: 800px) and (min-height: 701px){
    #map {
        height: 42vh;
    }
    #con_info {
        padding-top: 10vh;
    }
    #madeBy {
        padding: 0vh;
    }
}
