@media screen and (max-width: 340px) and (orientation: portrait){
    body {
        overflow-x: visible;
    }
    .width {
        width: 100%;
    }

    .nextSection {
        width: 80px;
        height: 40px;
        line-height: 3.8;
     }
     .sidenav .inner {
         width: 50%;
         margin-left: 20%;
         margin-top: 38vh;
         font-size: 22px;
         font-weight:900;
         line-height: 1.9;
         transform: translateY(-50%);
         position: absolute;
     }
     .icons {
         bottom: 20px;
     }
     #icons-perma {
         bottom: 2%;
     }
     .dotstyle ul {
         display: none;
     }
     .nav_but {
         display: none;
     }
     #map {
         top: 71vh;
         left :2%;
         /* right: 2%; */
         width: 96%;
         height: 50vh;
         background-color: grey;
     }

     #loc_info {
         position: absolute;
         top: 4%;
         left:6%;
         text-align: center;
     }
     .big {
         font-size: 40px;
         margin-bottom: 15px;
     }
     .loc_text  {
         text-align: left;
         /* font-size: 17px; */
         padding: 5px 0px 10px 55px;
     }
     #loc_info h3 {
         font-size: 20px;
     }

     #col2 {
         display: none;
     }
     #con_info div div h3 {
         font-size: 20px;
     }

     #con_info div div h3 i{
         margin-left: 4%;
     }
     #con_info div div h3 .fa-facebook-f {
         margin-left: 7%;
     }
     .shift {
         margin-left: 5%;
         font-size: 15px;
     }
     #event_info {
         font-size: 15px;
         padding-top: 2vh;
     }
     #event_info .row{
         display: block;
         float: left;
         margin: 0;

     }
     #event_info .big {
         margin-bottom: 1vh;
     }
     #event_info div {
         margin-top: 0px;
     }
     #event_info div div {
         font-size: 12.5px !important;
         height: 35vh;
         max-width: 95vw;
         margin: 2vh 2.8vw !important;
         border-radius: 10px;
     }
     #event_info div div h1 {
         font-size: 22px;
         padding-top: 1vh;
         padding-bottom: 0.2vh;
     }
     #col1_event {
         margin-left: 3.5vw;
         margin-right: 1vw;
         max-height: 18vh !important;
     }
     #col2_event {
         margin-right: 3.5vw;
         margin-left: 1vw;
         max-height: 27vh !important;
     }
     #col3_event {
         max-height: 25vh !important;
     }
     #event_info .container {
         max-width: 95vw;
     }
     #event_info div div img {
         max-width: 6vw;
         float: left;
     }
     #event_info div div button {
         font-size: 11px;
         text-transform: uppercase;
         padding: 4px;
         margin:3px auto;
     }
     #about_info {
         padding-top: 12vh;
     }
     #about_info iframe {
         width: 95vw;
         height: 32vh;
     }
     #about_info .container {
          font-size: 17px;
      }
      #time_left {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 60%;
        margin: 0;
        display: flex;
      }
      #time_left div{

        float: left;
        margin: 10px;
        width: 60px;
        height: 60px;
        font-size: 20px;
        font-family: 'Odibee Sans', cursive;
        text-align: center;
        border: 3px #fff solid;
        border-radius: 100%;
        padding: 15px 0;
      }

      #time_left div p{
        font-size: 20px;
        text-align: center;
        position:relative;
        right: 0px;
        top: 20px;
      }
      .subhead {
          top: 30%;
          transform: translateY(-30%);
      }
      #date {
        font-size: 20px;
      }

}


@media screen and (max-width: 400px) and (min-width: 341px) and (orientation: portrait) {
    body {
        overflow-x: visible;
    }
    .width {
        width: 100%;
    }

    .nextSection {
        width: 80px;
        height: 40px;
        line-height: 3.8;
     }
     .sidenav .inner {
         width: 50%;
         margin-left: 20%;
         margin-top: 38vh;
         font-size: 22px;
         font-weight:900;
         line-height: 1.9;
         transform: translateY(-50%);
         position: absolute;
     }
     .icons {
         bottom: 20px;
     }
     #icons-perma {
         bottom: 2%;
     }
     .dotstyle ul {
         display: none;
     }
     .nav_but {
         display: none;
     }
     #map {
         top: 400px;
         left :2%;
         /* right: 2%; */
         width: 96%;
         height: 50vh;
         background-color: grey;
     }

     #loc_info {
         position: absolute;
         top: 8%;
         left:6%;
         text-align: center;
     }
     .big {
         font-size: 50px;
         margin-bottom: 20px;
     }
     .loc_text  {
         text-align: left;
         /* font-size: 17px; */
         padding: 5px 0px 10px 55px;
     }
     #loc_info h3 {
         font-size: 20px;
     }

     #col2 {
         display: none;
     }
     #con_info div div{
         font-size: 18px;
     }
     #con_info div div h3 {
         font-size: 21px;
     }

     #con_info div div h3 i{
         margin-left: 15%;
     }
     #con_info div div h3 .fa-facebook-f {
         margin-left: 17%;
     }
     .shift {
         margin-left: 8%;
     }

     #event_info {
         font-size: 15px;
         padding-top: 2vh;
     }
     #event_info .row{
         display: block;
         float: left;
         margin: 0;

     }
     #event_info div div {
         font-size: 13.5px;
         max-height: 27vh;
         max-width: 95vw;
         margin: 2vh 2.8vw;
         border-radius: 4px;
     }
     #event_info div div h1 {
         font-size: 22px;
         padding-top: 1vh;
         padding-bottom: .7vh;
     }
     #event_info .big {
       font-size: 30px;
         margin-bottom: 1vh;
     }
     #col1_event {
         margin-left: 3.5vw;
         margin-right: 1vw;
         max-height: 20vh !important;
     }
     #col2_event {
         margin-right: 3.5vw;
         margin-left: 1vw;
     }
     #event_info .container {
         max-width: 95vw;
     }
     #event_info div div img {
         margin-top: .5vh;
         max-width: 7vw;
     }
     #event_info div div button {
         font-size: 13px;
         text-transform: uppercase;
         padding: 6px;
         margin:6px auto;
     }







     /* #event_info {
         font-size: 15px;
         padding-top: 7vh;
     }
     #event_info .row{
         display: block;
         float: left;
         margin: 0;

     }
     #event_info .big {
         margin-bottom: 1vh;
     }
     #event_info div {
         margin-top: 0px;
     }
     #event_info div div {
         font-size: 17px;
         height: 34vh;
         max-width: 95vw;
         margin: 3vh 2.8vw;
         border-radius: 10px;
     }
     #event_info div div h1 {
         font-size: 22px;
         padding-top: 1vh;
         padding-bottom: 0.2vh;
     }
     #col1_event {
         margin-left: 3.5vw;
         margin-right: 1vw;
     }
     #col2_event {
         margin-right: 3.5vw;
         margin-left: 1vw;
     }
     #event_info .container {
         max-width: 95vw;
     }
     #event_info div div img {
         max-width: 6vw;
         float: left;
     }
     #event_info div div button {
         font-size: 13px;
         text-transform: uppercase;
         padding: 5px;
         margin:5px auto;
     } */
     #about_info {
         padding-top: 10vh;
     }
     #about_info iframe {
         width: 95vw;
         height: 35vh;
     }
     #about_info .container {
          font-size: 19px;
      }
      /* #time_left {
        position: absolute;
        margin-left: 0;
        left: 2%;
        -webkit-transform: translateX(5%);
        top: 70%;
      } */
      #time_left {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 70%;
        margin: 0;
        display: flex;
      }
      #time_left div{

        float: left;
        margin: 10px;
        width: 60px;
        height: 60px;
        font-size: 20px;
        font-family: 'Odibee Sans', cursive;
        text-align: center;
        border: 3px #fff solid;
        border-radius: 100%;
        padding: 15px 0;
      }

      #time_left div p{
        font-size: 20px;
        text-align: center;
        position:relative;
        right: 0px;
        top: 20px;
      }
      .subhead {
          top: 35%;
          transform: translateY(-35%);
      }
      #date {
        font-size: 25px;
      }
}

@media screen and (max-width: 600px)  and (min-width:401px) and (orientation: portrait) {
    body {
        overflow-x: visible;
    }
    .width {
        width: 100%;
    }

    .nextSection {
        width: 80px;
        height: 40px;
        line-height: 3.8;
     }

     #icons-perma {
         bottom: 2%;
     }
     .dotstyle ul {
         display: none;
     }
     .nav_but {
         display: none;
     }
     #map {
         top: 400px;
         left :2%;
         /* right: 2%; */
         width: 96%;
         height: 50vh;
         background-color: grey;
     }

     #loc_info {
         position: absolute;
         top: 8%;
         left: 13%;
         text-align: center;
     }
     .big {
         font-size: 60px;
         margin-bottom: 5px;
     }
     .loc_text  {
         text-align: left;
         /* font-size: 17px; */
         padding: 5px 0px 10px 55px;
     }
     #loc_info h3 {
         font-size: 20px;
     }

     #col2 {
         display: none;
     }
     #con_info div div h3 i{
         margin-left: 19%;
     }
     #con_info div div h3 .fa-facebook-f {
         margin-left: 21%;
     }
     .shift {
         margin-left: 8%;
     }

     #event_info {
         font-size: 15px;
         padding-top: 2vh;
     }
     #event_info .row{
         display: block;
         float: left;
         margin: 0;

     }
     #event_info div div {
         font-size: 17px;
         max-height: 27vh;
         max-width: 95vw;
         margin: 2vh 2.8vw;
         border-radius: 4px;
     }
     #event_info div div h1 {
         font-size: 22px;
         padding-top: 1vh;
         padding-bottom: .7vh;
     }
     #col1_event {
         margin-left: 3.5vw;
         margin-right: 1vw;
         max-height: 20vh !important;
     }
     #col2_event {
         margin-right: 3.5vw;
         margin-left: 1vw;
     }
     #event_info .container {
         max-width: 95vw;
     }
     #event_info div div img {
         margin-top: .5vh;
         max-width: 7vw;
     }
     #event_info div div button {
         font-size: 13px;
         text-transform: uppercase;
         padding: 6px;
         margin:6px auto;
     }

     /* #event_info {
         font-size: 15px;
         padding-top: 2vh;
     }
     #event_info .row{
         display: block;
         float: left;
         margin: 0;

     }
     #event_info div div {
         font-size: 19px;
         height: 35vh;
         max-width: 95vw;
         margin: 3vh 2.8vw;
         border-radius: 10px;
     }
     #event_info div div h1 {
         font-size: 22px;
         padding-top: 1vh;
         padding-bottom: 0.2vh;
     }
     #col1_event {
         margin-left: 3.5vw;
         margin-right: 1vw;
     }
     #col2_event {
         margin-right: 3.5vw;
         margin-left: 1vw;
     }
     #event_info .container {
         max-width: 95vw;
     }
     #event_info div div img {
         max-width: 6vw;
         float: left;
     }
     #event_info div div button {
         font-size: 13px;
         text-transform: uppercase;
         padding: 5px;
         margin:3px auto;
     } */
     #about_info {
         padding-top: 14vh;
     }
     #about_info iframe {
         width: 95vw;
         height: 33vh;
     }
     #about_info .container {
          font-size: 20px;
      }
      #time_left {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 70%;
        margin: 0;
        display: flex;
      }
      #time_left div{

        float: left;
        margin: 10px;
        width: 60px;
        height: 60px;
        font-size: 20px;
        font-family: 'Odibee Sans', cursive;
        text-align: center;
        border: 3px #fff solid;
        border-radius: 100%;
        padding: 15px 0;
      }

      #time_left div p{
        font-size: 20px;
        text-align: center;
        position:relative;
        right: 0px;
        top: 20px;
      }
}
@media screen and (max-width: 750px) and (min-width:601px) and (orientation: portrait) {
    .width {
        width: 70%;
    }
    #icons-perma {
        bottom: 2%;
    }

    .dotstyle ul {
        display: none;
    }
    .nav_but {
        display: none;
    }
    #map {
        top: 400px;
        left :2%;
        width: 96%;
        height: 50vh;
    }
    #loc_info {
        position: absolute;
        top: 8%;
        left: 30%;
        text-align: center;
    }
    .big {
        font-size: 60px;
        margin-bottom: 20px;
    }
    .loc_text  {
        text-align: left;
        padding: 5px 0px 10px 55px;
    }
    #loc_info h3 {
        font-size: 20px;
    }
    #col2 {
        display: none;
    }
    #con_info div div h3 i{
        margin-left: 23%;
    }
    #con_info div div h3 .fa-facebook-f {
        margin-left: 25%;
    }
    .shift {
        margin-left: 8%;
    }

    #event_info {
        font-size: 17px;
        padding-top: 3vh;
    }
    #event_info .row{
        display: block;
        float: left;
        margin: 0;

    }
    #event_info div div {
        font-size: 18px;
        max-height: 25vh;
        max-width: 95vw;
        margin: 2vh 2.8vw;
        border-radius: 4px;
    }
    #event_info div div h1 {
        font-size: 22px;
        padding-top: 1vh;
        padding-bottom: .7vh;
    }
    #col1_event {
        margin-left: 3.5vw;
        margin-right: 1vw;
    }
    #col2_event {
        margin-right: 3.5vw;
        margin-left: 1vw;
    }
    #event_info .container {
        max-width: 95vw;
    }
    #event_info div div img {
        margin-top: .5vh;
        max-width: 7vw;
    }
    #event_info div div button {
        font-size: 13px;
        text-transform: uppercase;
        padding: 6px;
        margin:6px auto;
    }

    /* #event_info {
        font-size: 17px;
        padding-top: 8vh;
    }
    #event_info .row{
        display: block;
        float: left;
        margin: 0;

    }
    #event_info div div {
        font-size: 18px;
        height: 28vh;
        max-width: 95vw;
        margin: 3vh 2.8vw;
        border-radius: 10px;
    }
    #event_info div div h1 {
        font-size: 22px;
        padding-top: 1vh;
        padding-bottom: .7vh;
    }
    #col1_event {
        margin-left: 3.5vw;
        margin-right: 1vw;
    }
    #col2_event {
        margin-right: 3.5vw;
        margin-left: 1vw;
    }
    #event_info .container {
        max-width: 95vw;
    }
    #event_info div div img {
        margin-top: .5vh;
        max-width: 7vw;
    }
    #event_info div div button {
        font-size: 13px;
        text-transform: uppercase;
        padding: 6px;
        margin:6px auto;
    } */
    #about_info {
        padding-top: 10vh;
    }
    #about_info iframe {
        width: 95vw;
        height: 45vh;
    }
    #about_info .container {
         font-size: 20px;
     }

     #time_left {
       position: absolute;
       left: 50%;
       -webkit-transform: translateX(-50%);
       transform: translateX(-50%);
       top: 75%;
       margin: 0;
       display: flex;
     }
     #time_left div{

       float: left;
       margin: 20px;
       width: 70px;
       height: 70px;
       font-size: 25px;
       font-family: 'Odibee Sans', cursive;
       text-align: center;
       border: 3px #fff solid;
       border-radius: 100%;
       padding: 15px 0;
     }

     #time_left div p{
       font-size: 20px;
       text-align: center;
       position:relative;
       right: 0px;
       top: 20px;
     }
}
@media screen and (max-width: 900px) and (min-width:751px) and (orientation: portrait) {
    .width {
        width: 50%;
    }
    .dotstyle ul {
        display: none;
    }
    #map {
        top: 400px;
        left :1%;
        width: 98%;
        height: 53vh;
    }

    #loc_info {
        position: absolute;
        top: 7%;
        left: 30%;
        text-align: center;
    }
    .big {
        font-size: 60px;
        margin-bottom: 30px;
    }
    .loc_text  {
        text-align: left;
        padding: 5px 0px 10px 55px;
    }
    #loc_info h3 {
        font-size: 20px;
    }
    #col2 {
        display: none;
    }
    #con_info div div h3 i{
        margin-left: 31%;
    }
    #con_info div div h3 .fa-facebook-f {
        margin-left: 33%;
    }
    .shift {
        margin-left: 8%;
    }




    /* #event_info div div {
        font-size: 18px;
    }
    #event_info div div h1 {
        font-size: 30px;
    }
    #col1_event {
        margin-left: 5vw;
        margin-right: 1.5vw;
    }
    #col2_event {
        margin-right: 5vw;
        margin-left: 1.5vw;
    }
    #event_info .container {
        max-width: 95vw;
    }
    #event_info div div img {
        max-width: 6vw;
    } */

    #event_info {
        font-size: 17px;
        padding-top: 3vh;
    }
    #event_info .row{
        display: block;
        float: left;
        margin: 0;

    }
    #event_info div div {
        font-size: 18px;
        max-height: 25vh;
        max-width: 95vw;
        margin: 2vh 2.8vw;
        border-radius: 4px;
    }
    #event_info div div h1 {
        font-size: 22px;
        padding-top: 1vh;
        padding-bottom: .7vh;
    }
    #col1_event {
        margin-left: 3.5vw;
        margin-right: 1vw;
    }
    #col2_event {
        margin-right: 3.5vw;
        margin-left: 1vw;
    }
    #event_info .container {
        max-width: 95vw;
    }
    #event_info div div img {
        margin-top: .5vh;
        max-width: 7vw;
    }
    #event_info div div button {
        font-size: 13px;
        text-transform: uppercase;
        padding: 6px;
        margin:6px auto;
    }




    #about_info iframe {
        width: 85vw;
        height:40vh;
    }
    #time_left {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 80%;
      margin: 0;
      display: flex;
    }
    #time_left div{
            float: left;
      margin: 10px;
      width: 70px;
      height: 70px;
      font-size: 25px;
      font-family: 'Odibee Sans', cursive;
      text-align: center;
      border: 3px #fff solid;
      border-radius: 100%;
      padding: 15px 0;
    }

    #time_left div p{
      font-size: 25px;
      text-align: center;
      position:relative;
      right: 0px;
      top: 20px;
    }

}
@media screen and (max-width: 1300px) and (min-width: 901px) and (orientation: landscape) {
    .width {
        width: 40%;
    }
    .dotstyle ul {
        display: none;
    }
    #map {
        right: 2%;
        height: 80vh;
        width: 55vw;
    }
    .bg {
        font-size: 20px;

    }
    #loc_info {
        position: absolute;
        top: 35%;
        left: 3%;

    }
    #con_info {
        max-width: 900px;
    }
    #event_info div div {
        font-size: 18px;
    }
    #event_info div div h1 {
        font-size: 30px;
    }
    #col1_event {
        margin-left: 5vw;
        margin-right: 1.5vw;
    }
    #col2_event {
        margin-right: 5vw;
        margin-left: 1.5vw;
    }
    #event_info .container {
        max-width: 90vw;
    }
    #event_info div div img {
        max-width: 6vw;
    }
    #about_info iframe {
        width: 75vw;
        height: 60vh;
    }

    #time_left {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      top: 80%;
      margin: 0;
      display: flex;
    }
    #time_left div{
            float: left;
      margin: 10px;
      width: 70px;
      height: 70px;
      font-size: 25px;
      font-family: 'Odibee Sans', cursive;
      text-align: center;
      border: 3px #fff solid;
      border-radius: 100%;
      padding: 15px 0;
    }

    #time_left div p{
      font-size: 25px;
      text-align: center;
      position:relative;
      right: 0px;
      top: 20px;
    }




}
@media screen and (max-width: 1500px) and (min-width:1301px) and (orientation: landscape) {
    .width {
        width: 30%;
    }
    #event_info div div img {
        max-width: 6vw;
    }
    #about_info iframe {
        width: 75vw;
        height: 60vh;
    }

}

@media screen and (max-height: 600px) and (orientation: portrait){
    #map {
        height: 26vh;
    }
    #con_info {
        padding-top: 10vh;

    }
    #contact_us {
        height: 95vh;
    }
    #madeBy {
        padding: 0vh;
        height: 5vh;
    }
    #event_info {
        font-size: 15px;
        padding-top: 1vh;
    }
    #event_info .row{
        display: block;
        float: left;
        margin: 0;

    }
    #event_info .big {
        margin-bottom: 1vh;
    }
    #event_info div {
        margin-top: 0px;
    }
    #event_info div div {
        font-size: 12.5px;
        height: 34.5vh;
        max-width: 95vw;
        margin: 3vh 2.8vw;
        border-radius: 5px;
    }
    #event_info div div h1 {
        font-size: 22px;
        padding-top: 1vh;
        padding-bottom: 0.2vh;
    }
    #col1_event {
        margin-left: 3.5vw;
        margin-right: 1vw;
    }
    #col2_event {
        margin-right: 3.5vw;
        margin-left: 1vw;
    }
    #event_info .container {
        max-width: 95vw;
    }
    #event_info div div img {
        max-width: 6vw;
        float: left;
    }
    #event_info div div button {
        font-size: 10px;
        text-transform: uppercase;
        padding: 4px;
        margin:2px auto;
    }

}

@media screen and (max-height: 700px) and (min-height: 601px) and (orientation: portrait) {
    #map {
        height: 33vh;
    }
    #con_info {
        padding-top: 10vh;
    }
    #madeBy {
        padding: 0vh;
    }
    #event_info {
        font-size: 13px;
        padding-top: 2vh;
    }

    #event_info div div {
        font-size: 14px;
        height: 33vh;
    }
    #event_info div div h1 {
        font-size: 17px;
        padding-top: .5vh;
        padding-bottom: .5vh;
    }
    #event_info .container {
        max-width: 98vw;
    }
    #event_info div div button {
        font-size: 13px;
        padding: 2px;
        margin:2px auto;
    }

}

@media screen and (max-height: 800px) and (min-height: 701px) and (orientation: portrait){
    #map {
        height: 42vh;
    }
    #con_info {
        padding-top: 10vh;
    }
    #madeBy {
        padding: 0vh;
    }

    #event_info {
        font-size: 15px;
        padding-top: 2vh;
    }
    #event_info .row{
        display: block;
        float: left;
        margin: 0;

    }

    #event_info div {
    margin: 1vh auto 0 auto;
}
    #event_info div div {
        font-size: 15px;
        max-height: 27vh;
        max-width: 95vw;
        margin: 2vh 2.8vw;
        border-radius: 4px;
    }
    #event_info div div h1 {
        font-size: 22px;
        padding-top: 1vh;
        padding-bottom: .7vh;
    }
    #col1_event {
        margin-left: 3.5vw;
        margin-right: 1vw;
        max-height: 20vh !important;
    }
    #col2_event {
        margin-right: 3.5vw;
        margin-left: 1vw;
    }
    #event_info .container {
        max-width: 95vw;
    }
    #event_info div div img {
        margin-top: .5vh;
        max-width: 7vw;
    }
    #event_info div div button {
        font-size: 13px;
        text-transform: uppercase;
        padding: 6px;
        margin:6px auto;
    /* }
    #event_info {
        font-size: 15px;
        padding-top: 8vh;
    }
    #event_info .row{
        display: block;
        float: left;
        margin: 0;

    }
    #event_info .big {
        margin-bottom: 1vh;
    }
    #event_info div {
        margin-top: 0px;
    }
    #event_info div div {
        font-size: 16px;
        height: 34vh;
        max-width: 95vw;
        margin: 3vh 2.8vw;
        border-radius: 10px;
    }
    #event_info div div h1 {
        font-size: 22px;
        padding-top: 1vh;
        padding-bottom: 0.2vh;
    }
    #col1_event {
        margin-left: 3.5vw;
        margin-right: 1vw;
    }
    #col2_event {
        margin-right: 3.5vw;
        margin-left: 1vw;
    }
    #event_info .container {
        max-width: 95vw;
    }
    #event_info div div img {
        max-width: 6vw;
        float: left;
    }
    #event_info div div button {
        font-size: 11px;
        text-transform: uppercase;
        padding: 5px;
        margin:4px auto;
    } */
}

@media screen and (max-height: 325px) and (max-width: 700px) and (orientation: landscape)
{
    body {
        overflow-x: visible;
    }
    #icons-perma .fa-2x{
        font-size: 1em;
    }
    .width {
        width: 40%;
    }
    .sidenav .inner {
        width: 50%;
        margin-left: 20%;
        margin-top: 44vh;
        font-size: 17px;
        font-weight:900;
        line-height: 1.9;
        transform: translateY(-50%);
        position: absolute;
    }
    .icons {
        display: none;
    }
    .subnav {
        width: 100vw;
        height : 40px;
        top: 0;
        padding:8px 5px 5px 5px;
    }
    #logo {
        margin: 2px 0 0 15px;
        font-size: 15px;
    }
    .fa-bars{
        font-size: 1em;
    }
    .fa-times{
        font-size: 1em;
    }
    .dotstyle ul {
        display: none;
    }
    .nav_but {
        display: none;
    }
    #loc_info {
        position: absolute;
        top: 7%;
        left: 2%;
        text-align: center;
    }
    .big {
        font-size: 40px;
        margin-bottom: 10px;
    }
    #loc_info h3 {
        font-size: 19px;
    }
    .loc_text {
        font-size: 15px;
        padding: 10px 0px 10px 0px;
    }
    #map {
        top: 65px;
        width: 30%;
        right: 5%;
        height: 75vh;
        background-color: grey;
    }
    .gm-fullscreen-control {
      display: none;
    }
    #col2{
        display: none;
    }
    #con_info div div h1{
        margin-bottom: 25px;
    }
    #con_info div div h3 {
        /* display: flex; */
        font-size: 20px;

    }
    /* #con_fb, #con_insta,#con_mail,#con_call{
        margin-top :0px;


    } */
    #con_info div div h3 i {
        margin-left: 5%;
    }
    #con_info div div h3 .fa-facebook-f {
        margin-left: 7%;
    }
    #con_call{
        position: absolute;
        width: 30%;
        top:16vh;
        right: 10vw;
    }
    .shift {
        margin: 0;
        font-size: 15px;
    }
    .numb {
        position: absolute;
        right: 10vw;
        top:35vh;
    }
    #mail_id {
        position: absolute;
        top :60vh;
        left: 16vw;
    }
    #madeBy {
        text-transform: uppercase;
        /* margin-bottom: 5px; */
        font-size: 13px;
    }
    #event_info {
        font-size: 11px;
        padding-top: 4vh;
    }
    #event_info .row{
        display: block;
        float: left;
        margin: 0;

    }
    #event_info .big {
        margin-bottom: 1vh;
        font-size: 30px;
    }
    #event_info div {
        margin-top: 0px;
    }
    #event_info div div {
        font-size: 11px;
        height: 34.5vh;
        max-width: 95vw;
        margin: 3vh 2.8vw;
        border-radius: 5px;
    }
    #event_info div div h1 {
        font-size: 18px;
        padding-top: 0vh;
        padding-bottom: 0.2vh;
    }
    #col1_event {
        margin-left: 3.5vw;
        margin-right: 1vw;
    }
    #col2_event {
        margin-right: 3.5vw;
        margin-left: 1vw;
    }
    #event_info .container {
        max-width: 95vw;
    }
    #event_info div div img {
        max-width: 6vw;
        float: left;
    }
    #event_info div div button {
        font-size: 10px;
        text-transform: uppercase;
        padding:2px;
        margin:1px auto;
    }
    #about_info {
        padding-top: 2vh;
    }
    #about_info iframe {
        width: 65vw;
        height: 50vh;
    }
    #about_info .container {
         font-size: 14px;
     }
}
@media screen and (max-height: 450px) and (max-width: 1000px) and (min-height: 326px) and (min-width: 601px) and (orientation: landscape)
{
    body {
        overflow-x: visible;
    }
    #icons-perma .fa-2x{
        font-size: 1.5em;
    }
    .width {
        width: 35%;
    }
    .sidenav .inner {
        width: 50%;
        margin-left: 20%;
        margin-top: 38vh;
        font-size: 19px;
        font-weight:900;
        line-height: 1.9;
        transform: translateY(-50%);
        position: absolute;
    }
    .icons {
        bottom: 20px;
    }
    .icons i .fa-2x {
        font-size: 1.5em;
    }
    .subnav {
        width: 100vw;
        height : 45px;
        top: 0;
        padding:8px 5px 5px 5px;
    }
    #logo {
        margin: 2px 0 0 15px;
        font-size: 15px;
    }
    .fa-bars{
        font-size: 1.5em;
    }
    .fa-times{
        font-size: 1.5em;
    }
    .dotstyle ul {
        display: none;
    }
    .nav_but {
        display: none;
    }
    #loc_info {
        position: absolute;
        top: 8%;
        left: 2%;
        text-align: center;
    }
    .big {
        font-size: 47px;
        margin-bottom: 20px;
    }
    #loc_info h3 {
        font-size: 20px;
    }
    .loc_text {
        font-size: 17px;
        padding: 10px 0px 10px 0px;
    }
    #map {
        top: 65px;
        width: 50%;
        right: 3%;
        height: 80vh;
        background-color: grey;
    }
    /* .gm-fullscreen-control {
      display: none;
    } */
    /* #col2{
        display: none;
    } */
    #con_info {
        padding-top: 5vh;
    }
    #con_info div div h1{
        margin-bottom: 15px;
    }
    #con_info div div h3 {
        /* display: flex; */
        font-size: 20px;

    }
    /* #con_fb, #con_insta,#con_mail,#con_call{
        margin-top :0px;


    } */
    #con_info div div h3 i {
        margin-left: 5%;
    }
    #con_info div div h3 .fa-facebook-f {
        margin-left: 7%;
    }
    #sitemap li {
        padding-bottom: 2px;
    }
    #sitemap li a {
        font-size: 18px;
    }
    /* #con_call{
        position: absolute;
        width: 30%;
        top:16vh;
        right: 10vw;
    } */
    .shift {
        margin: 0;
        font-size: 17px;
    }
    .numb {
        margin-top: -20px;
    }
    #mail_id {
        position: absolute;
        top :42vh;
        left: 22vw;
        font-size: 18px;
    }
    #madeBy {
        text-transform: uppercase;
        /* margin-bottom: 5px; */
        font-size: 13px;
    }
    #event_info {
        font-size: 15px;
        padding-top: 1vh;
    }
    #event_info .row{
        display: block;
        float: left;
        margin: 0;

    }
    #event_info .big {
        margin-bottom: 1vh;
        font-size: 30px;
    }
    #event_info div {
        margin-top: 0px;
    }
    #event_info div div {
        font-size: 12px;
        height: 35.5vh;
        max-width: 95vw;
        margin: 3vh 2.8vw;
        border-radius: 5px;
    }
    #event_info div div h1 {
        font-size: 22px;
        padding-top: 1vh;
        padding-bottom: 0.2vh;
    }
    #col1_event {
        margin-left: 1.5vw;
        margin-right: 1vw;
    }
    #col2_event {
        margin-right: 1.5vw;
        margin-left: 1vw;
    }
    #event_info .container {
        max-width: 95vw;
    }
    #event_info div div img {
        max-width: 6vw;
        float: left;
    }
    #event_info div div button {
        font-size: 10px;
        text-transform: uppercase;
        padding: 4px;
        margin:2px auto;
    }
    #about_info {
        padding-top: 4vh;
    }
    #about_info iframe {
        width: 45vw;
        height: 50vh;
    }
    #about_info .container {
         font-size: 15px;
     }
}
