@media (max-width: 340px) and (orientation: portrait){
    body {
        overflow-x: visible;
    }
    .width {
        width: 100%;
    }

    .nextSection {
        width: 80px;
        height: 40px;
        line-height: 3.8;
     }

     #icons-perma {
         bottom: 2%;
     }
     .dotstyle ul {
         display: none;
     }
     .nav_but {
         display: none;
     }
     #map {
         top: 400px;
         left :2%;
         /* right: 2%; */
         width: 96%;
         height: 50vh;
         background-color: grey;
     }

     #loc_info {
         position: absolute;
         top: 8%;
         left:6%;
         text-align: center;
     }
     .big {
         font-size: 50px;
         margin-bottom: 20px;
     }
     .loc_text  {
         text-align: left;
         /* font-size: 17px; */
         padding: 5px 0px 10px 55px;
     }
     #loc_info h3 {
         font-size: 20px;
     }

     #col2 {
         display: none;
     }
     #con_info div div h3 {
         font-size: 20px;
     }

     #con_info div div h3 i{
         margin-left: 4%;
     }
     #con_info div div h3 .fa-facebook-f {
         margin-left: 7%;
     }
     .shift {
         margin-left: 5%;
         font-size: 20px;
     }
}


@media (max-width: 400px) and (min-width: 341px) and (orientation: portrait) {
    body {
        overflow-x: visible;
    }
    .width {
        width: 100%;
    }

    .nextSection {
        width: 80px;
        height: 40px;
        line-height: 3.8;
     }

     #icons-perma {
         bottom: 2%;
     }
     .dotstyle ul {
         display: none;
     }
     .nav_but {
         display: none;
     }
     #map {
         top: 400px;
         left :2%;
         /* right: 2%; */
         width: 96%;
         height: 50vh;
         background-color: grey;
     }

     #loc_info {
         position: absolute;
         top: 8%;
         left:6%;
         text-align: center;
     }
     .big {
         font-size: 50px;
         margin-bottom: 20px;
     }
     .loc_text  {
         text-align: left;
         /* font-size: 17px; */
         padding: 5px 0px 10px 55px;
     }
     #loc_info h3 {
         font-size: 20px;
     }

     #col2 {
         display: none;
     }
     #con_info div div h3 {
         font-size: 25px;
     }

     #con_info div div h3 i{
         margin-left: 15%;
     }
     #con_info div div h3 .fa-facebook-f {
         margin-left: 17%;
     }
     .shift {
         margin-left: 8%;
     }
}

@media (max-width: 600px)  and (min-width:401px) and (orientation: portrait) {
    body {
        overflow-x: visible;
    }
    .width {
        width: 100%;
    }

    .nextSection {
        width: 80px;
        height: 40px;
        line-height: 3.8;
     }

     #icons-perma {
         bottom: 2%;
     }
     .dotstyle ul {
         display: none;
     }
     .nav_but {
         display: none;
     }
     #map {
         top: 400px;
         left :2%;
         /* right: 2%; */
         width: 96%;
         height: 50vh;
         background-color: grey;
     }

     #loc_info {
         position: absolute;
         top: 8%;
         left: 17%;
         text-align: center;
     }
     .big {
         font-size: 60px;
         margin-bottom: 20px;
     }
     .loc_text  {
         text-align: left;
         /* font-size: 17px; */
         padding: 5px 0px 10px 55px;
     }
     #loc_info h3 {
         font-size: 20px;
     }

     #col2 {
         display: none;
     }
     #con_info div div h3 i{
         margin-left: 19%;
     }
     #con_info div div h3 .fa-facebook-f {
         margin-left: 21%;
     }
     .shift {
         margin-left: 8%;
     }
}
@media (max-width: 750px) and (min-width:601px) and (orientation: portrait) {
    .width {
        width: 70%;
    }
    #icons-perma {
        bottom: 2%;
    }

    .dotstyle ul {
        display: none;
    }
    .nav_but {
        display: none;
    }
    #map {
        top: 400px;
        left :2%;
        width: 96%;
        height: 50vh;
    }
    #loc_info {
        position: absolute;
        top: 8%;
        left: 30%;
        text-align: center;
    }
    .big {
        font-size: 60px;
        margin-bottom: 20px;
    }
    .loc_text  {
        text-align: left;
        padding: 5px 0px 10px 55px;
    }
    #loc_info h3 {
        font-size: 20px;
    }
    #col2 {
        display: none;
    }
    #con_info div div h3 i{
        margin-left: 23%;
    }
    #con_info div div h3 .fa-facebook-f {
        margin-left: 25%;
    }
    .shift {
        margin-left: 8%;
    }
}
@media (max-width: 900px) and (min-width:751px) and (orientation: portrait) {
    .width {
        width: 50%;
    }
    .dotstyle ul {
        display: none;
    }
    #map {
        top: 400px;
        left :1%;
        width: 98%;
        height: 53vh;
    }

    #loc_info {
        position: absolute;
        top: 7%;
        left: 30%;
        text-align: center;
    }
    .big {
        font-size: 60px;
        margin-bottom: 30px;
    }
    .loc_text  {
        text-align: left;
        padding: 5px 0px 10px 55px;
    }
    #loc_info h3 {
        font-size: 20px;
    }
    #col2 {
        display: none;
    }
    #con_info div div h3 i{
        margin-left: 31%;
    }
    #con_info div div h3 .fa-facebook-f {
        margin-left: 33%;
    }
    .shift {
        margin-left: 8%;
    }
}
@media (max-width: 1300px) and (min-width:901px) and (orientation: portrait) {
    .width {
        width: 40%;
    }
    .dotstyle ul {
        display: none;
    }
    #map {
        right: 2%;
        height: 80vh;
        width: 55vw;
    }
    .bg {
        font-size: 20px;

    }
    #loc_info {
        position: absolute;
        top: 35%;
        left: 3%;

    }
    #con_info {
        max-width: 900px;
    }

}
@media (max-width: 1500px) and (min-width:1301px) and (orientation: portrait) {
    .width {
        width: 30%;
    }

}

@media (max-height: 600px){
    #map {
        height: 26vh;
    }
    #con_info {
        padding-top: 10vh;

    }
    #contact_us {
        height: 95vh;
    }
    #madeBy {
        padding: 0vh;
        height: 5vh;
    }
}

@media (max-height: 700px) and (min-height: 601px) and (orientation: portrait) {
    #map {
        height: 33vh;
    }
    #con_info {
        padding-top: 10vh;
    }
    #madeBy {
        padding: 0vh;
    }
}

@media (max-height: 800px) and (min-height: 701px) and (orientation: portrait){
    #map {
        height: 42vh;
    }
    #con_info {
        padding-top: 10vh;
    }
    #madeBy {
        padding: 0vh;
    }
}

@media (max-height: 300px) and (max-width: 600px) and (orientation: landscape)
{
    body {
        overflow-x: visible;
    }
    #icons-perma .fa-2x{
        font-size: 1em;
    }
    .width {
        width: 40%;
    }
    .sidenav .inner {
        width: 50%;
        margin-left: 20%;
        margin-top: 44vh;
        font-size: 17px;
        font-weight:900;
        line-height: 1.9;
        transform: translateY(-50%);
        position: absolute;
    }
    .icons {
        display: none;
    }
    .subnav {
        width: 100vw;
        height : 40px;
        top: 0;
        padding:8px 5px 5px 5px;
    }
    #logo {
        margin: 2px 0 0 15px;
        font-size: 15px;
    }
    .fa-bars{
        font-size: 1em;
    }
    .fa-times{
        font-size: 1em;
    }
    .dotstyle ul {
        display: none;
    }
    .nav_but {
        display: none;
    }
    #loc_info {
        position: absolute;
        top: 7%;
        left: 4%;
        text-align: center;
    }
    .big {
        font-size: 40px;
        margin-bottom: 10px;
    }
    #loc_info h3 {
        font-size: 19px;
    }
    .loc_text {
        font-size: 15px;
        padding: 10px 0px 10px 55px;
    }
    #map {
        top: 65px;
        width: 30%;
        right: 5%;
        height: 75vh;
        background-color: grey;
    }
    .gm-fullscreen-control {
      display: none;
    }
    #col2{
        display: none;
    }
    #con_info div div h1{
        margin-bottom: 25px;
    }
    #con_info div div h3 {
        /* display: flex; */
        font-size: 20px;

    }
    /* #con_fb, #con_insta,#con_mail,#con_call{
        margin-top :0px;


    } */
    #con_info div div h3 i {
        margin-left: 5%;
    }
    #con_info div div h3 .fa-facebook-f {
        margin-left: 7%;
    }
    #con_call{
        position: absolute;
        width: 30%;
        top:16vh;
        right: 10vw;
    }
    .shift {
        margin: 0;
        font-size: 15px;
    }
    .numb {
        position: absolute;
        right: 10vw;
        top:35vh;
    }
    #mail_id {
        position: absolute;
        top :67vh;
        left: 16vw;
    }
    #madeBy {
        text-transform: uppercase;
        /* margin-bottom: 5px; */
        font-size: 13px;
    }

}
