body {
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #3f0d12 0%, #a71d31 74%);




}

.container-fluid {
    padding-top: 15vh;
    margin: 0 auto;
    min-height:100vh;
    text-align: center;
}
.box {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.co-box {
    border-radius: 10px;
    display: block;
    margin: 10px 10px;
    width:450px;
    max-height: 300px;
    /* max-width: 25vw; */
    background: rgba(255,255,255,0.1);
    color: #000;
    text-align: center;
    overflow-y: hidden;
}
.container-fluid h1{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size:50px;
  padding-bottom: 1vh;

}

.co-box a img{
  width: inherit;
}


#madeBy {
    margin-top: 8vh;
    background: none;
    font-size: 15px;
    height: 10vh;
    text-align: center;
    text-transform: uppercase;
    /* padding-top: 4vh; */
    /* margin-bottom: 3vh; */
    font-weight: 500;
    font-family: 'Roboto Condensed', sans-serif;
}
.ekko-lightbox-container>div.ekko-lightbox-item {
  overflow: hidden;
}
.modal-body {
  padding: 2px;
}
