body {
  /* background-color: #fc9842;
  background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%); */
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);

}

.container-fluid {
    padding-top: 15vh;
    margin: 0 auto;
    min-height:100vh;
    text-align: center;
}

.container-fluid img {
  width: 80vw;
}

.container-fluid h1{
  font-size: 70px;
  font-family: 'Odibee Sans', cursive;
}

.box {
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.box a {
  text-decoration: none;
}
.co-box {

    display: block;
    margin: 20px 10px;
    height: 400px;
    width: 350px;
    /* max-width: 25vw; */
    background: rgba(255,255,255,0.2);
    color: #fff;
    text-align: center;
}

.co-box h1{
    font-size: 40px;
    font-family: 'Odibee Sans', cursive;
    text-transform: uppercase;
    padding: 15vh 0 0  0;
}
.co-box h3{
    font-size: 30px;
    font-family: 'Odibee Sans', cursive;
    text-transform: uppercase;
}
.co-box p{
  margin-top: 30px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 10px;
}
.co-box img{
  width: inherit;
  -webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
user-drag: none;
  /* padding: 10px; */
}

#street_play{
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url(../../image/culture/theatre/street.jpg);
  background-position: center;
}
#mono_act{
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)),url(../../image/culture/theatre/mono.jpg);
  background-position: center;
}



.modal-content {
  background-color: #f1dfd1;
background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
}
.modal {
  width: 95%;
  left: auto;
  color: #000;
}

.modal-title {
  text-transform: uppercase;
}
.modal-body {
  text-align: left;
}
.modal-body p {
  margin: 10px 0;
  text-transform: none;
}
.modal-body h3{
  font-size: 20px;
}
.left {
  float: left;
  padding-right: 5px;
}
.left + p{
  font-size: 16px;
}
.prize {
  text-align: center;
  color: rgb(255,0,0);
  font-weight: bold;
}

.contact {
  text-align: center;
}
